<td><%= name %></td>
<td><%= category_id %></td>
<td><%= price %></td>
<td><%= quantity %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>